%div#timerForm.page

  %script#lapsTmpl(type="text/html")
    %table
      {{#laps}}
      %tr
        %td.label(rowspan=3) {{label}}
        %td {{time}}
      %tr
        %td {{time}}
      %tr
        %td {{time}}
      {{/laps}}

  %h3 Click on CAPTURE to add an event to your timeline
  %input#label
  %button#capture CAPTURE
  %br
  #laps
