%div#timerForm.page

  %script#lapsTmpl(type="text/html")
    <ol>
    {{#laps}}
    <li>{{time}} ({{label}})</li>
    {{/laps}}
    </ol>

  %h3 Click on CAPTURE to add an event to your timeline
  %input#label(type="text" value="ASDF")
  %button#capture CAPTURE
  %p#message
  %p#laps
