%div#timerForm.page

  %script#lapsTmpl(type="text/html")
    %table
      %tr
        %td
        %td.separator
        %td
      {{#laps}}
      %tr
        %td.activity-name {{label}}
        %td.separator
        %td.activity-time {{time}}
      %tr
        %td.activity-name
        %td.separator
        %td.activity-time-delta +{{timeFromLast}}
      {{/laps}}

  #title
    LAPSE
    %span.special-r R
  #clock
    #clock-bg 88:88:88:88
    #clock-fg 08:25:29:16
  #action
    %input#label(type="text" placeholder="Add Event Name")
    %button#capture capture
  #laps
