%div#timerForm.page

  %script#lapsTmpl(type="text/html")
    %table
      {{#laps}}
      %tr
        %td.label(colspan=3) {{label}}
      %tr
        %td {{time}}
        %td +{{timeFromLast}} s.
        %td +{{timeFromStart}} s. (from start)
      {{/laps}}

  %h3 Click CAPTURE to add an event to your timeline
  %input#label
  %button#capture CAPTURE
  %br
  #clock
  %br
  #laps
