html, body, .container, .page {
  min-height: 95%; }

body {
  background: black; }

.page {
  margin: auto;
  padding: 10px;
  background: gray;
  width: 300px; }

table {
  width: 100%;
  border-spacing: 10px; }

td {
  vertical-align: top; }

td.label {
  top-border: solid 1px black; }
