html, body, .container, .page
	min-height: 95%

body
	background: gray

.page
	margin: auto
	padding: 10px
	background: pink
	width: 300px

table
	width: 100%

td
	border-bottom: 1px solid black
	left-bottom: 1px solid black
