#homePage.page
	#logo
		%h1 
			LAPSE
			%span.special-r R
	#intro
		%h3 
			Track your Journey
		%p Lapser makes it easy to time everyday movements and milestones such as: commute, workout, mountain climbing, fishing, pretty much anything!
	#action
		%button#start start
		%p Press START to begin your journey!</p>
